:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
  background: #fcecdc;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #fcb293;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #fcb293;
  /* background: #fcecdc; */
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #fcdbc4;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ffdab9;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
.leftcolumn2 {
  float: left;
  width: 85%;
}

/* Right column */
.rightcolumn2 {
  float: left;
  width: 15%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.nav
{
   position: fixed;
   top: 0;
   background-color: #ffdab9;
   width: 100%;
   top:0;
   left:0;
   right:0;
   border-bottom:1px solid #1a1a1a;
   height: 38px;
   opacity: 100px;
   z-index: 1;
}
img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}
.special{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/Forks.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.specialcdmx{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/CDMX.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.specialgtav{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/gtamod.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.specialsaur{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/suarkraut.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.specialHD{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/hotdog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.specialBurr{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/Recipe-Beef-Burritos-scaled.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.specialLC{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/LC.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.specialspooderman{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/spierman2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.specialmk1{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/mortal-kombat-1-fire-god-liu-kang.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.specialBP{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/BP.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.specialPU{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/PullUP.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.specialsqaut{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/Squat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.specialDino{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/Dino.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.specialNap{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/Napoleon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.specialmiles{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/Spider-Man-Across-Spider-Verse-Cast.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.specialmitski{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/Mitski.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.speciallana{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/ldr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.speciallmfao{
  height: 200px;
  width: 147px;
  background-image: url(./components/pics/party-rock-anthem.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}